anyio==3.5.0
asgiref==3.5.0
autopep8==1.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
cryptography==36.0.2
fastapi==0.75.1
gitdb==4.0.9
GitPython==3.1.27
h11==0.13.0
httptools==0.4.0
idna==3.3
pbr==5.9.0
psycopg2==2.9.6
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
PyJWT==2.3.0
PyMySQL==1.0.2
python-dotenv==0.20.0
python-http-client==3.3.7
PyYAML==6.0
requests==2.27.1
sendgrid==6.9.7
smmap==5.0.0
sniffio==1.2.0
starkbank-ecdsa==2.0.3
starlette==0.17.1
stevedore==3.5.0
toml==0.10.2
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.2
websockets==11.0.3
xmltodict==0.12.0
